/* 
#a4c2d1; egg blue
#dbdcde;light grey
#1f7798;mid blue
#; dark-blue
 */

 /* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: poppins;
    background-color: #a4c2d1;
}

h1,
h2 {
    font-family: "DM Serif Display";
    color: #184f63;
}
.sharp-corners,
.sharp-corners * {
    border-radius: 0;
}
/* about section */
#about {
    background-color: #ffffff;
}

/* portfolio */

#portfolio {
    background-color: #dbdcde;
}

#portfolio .card-title {
    color: #1f7798;
    font-size: 1.2rem;
}

#portfolio .btn-outline-secondary:hover {
    background-color: #1f7798;
}
#portfolio .card-text {
    min-height: 120px;
}

/* contact section */

#contact{
    background-color: #ffffff;
}

/* header */
#hero{
    background-color: #dbdcde;
    background-image: url("https://codeinstitute.s3.eu-west-1.amazonaws.com/Bootstrap/background.webp");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 500px;
    padding: 5% 7%;
}

/* media queries */
/* use bootstrap breakpoint for XL screens */
@media screen and (min-width) {
/* fixes all portfolio cards being too tall on xl screens */
#portfolio .card-text {
    min-height: auto;
}    
}

